.signinWrap{
}
.loginPanel .form-label, .loginPanel p{
    color:#ffffff;
}
.color-green.form-label, .color-green{
    color: #41c770;
}
.background-green{
    background-color: #41c770;
    color: #ffffff;
}
.btn-primary{
    border: 0;
    background-color: #41c770;
}
.btn-primary:hover{
    border: 0;
    background-color: #339856;
}
.btn-link:hover{
    color: #339856;
}